<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="../../plugins/element-ui/index.css"/>
    <link rel="stylesheet" href="../../styles/common.css"/>
    <link rel="stylesheet" href="../../styles/page.css"/>
    <style>
        #member-app .notAdmin::after {
            border: 0 !important;

        }
    </style>
</head>
<body>
<div class="dashboard-container" id="member-app">
    <div class="container">
        <div class="tableBar">
            <el-input v-model="input" placeholder="请输入出库单号" style="width: 250px" clearable>
                <i slot="prefix" class="el-input__icon el-icon-search" style="cursor: pointer" @click="init"></i>
            </el-input>
            <el-date-picker v-model="oderTime"
                            clearable
                            value-format="yyyy-MM-dd HH:mm:ss"
                            type="datetimerange"
                            placeholder="选择日期"
                            range-separator="至"
                            start-placeholder="开始日期"
                            end-placeholder="结束日期"
                            :default-time="['00:00:00', '23:59:59']"
                            style="width: 400px;position: absolute;left: 300px"
            ></el-date-picker>
            <el-button type="primary" plain @click="init" style="position: absolute; left: 730px;">查询</el-button>
            <el-button style="position: absolute;left: 1150px" type="danger" plain @click="submitHandle('批量')">批量审核</el-button>
            <el-switch
                    style="position: absolute;left: 950px;top: 40px"
                    active-text="显示全部"
                    inactive-text="显示未审核"
                    v-model="allbutton"
                    active-color="#13ce66"
                    active-value="1"
                    inactive-value="0"
                    @change="init"
            >
            </el-switch>
        </div>
        <el-table
                :header-cell-style="{ textAlign: 'center' }"
                :cell-style="{ textAlign: 'center' }"
                :data="tableData"
                stripe
                class="tableBox"
                @selection-change="handleSelectionChange"
        >
            <el-table-column
                    type="selection"
            ></el-table-column>
            <el-table-column
                    width="180"
                    prop="id"
                    label="出库单号"
            ></el-table-column>

            <el-table-column
                    width="200px"
                    prop="informDescription"
                    label="描述"
            >
                <template slot-scope="scope">
                    <el-popover
                            placement="top"
                            title="出库单描述"
                            width="300"
                            trigger="hover"
                            :content=scope.row.outformDescription>
                        <span slot="reference">轻碰查看出库单描述</span>
                    </el-popover>
                </template>
            </el-table-column>

            <el-table-column
                    width="100px"
                    prop="userName"
                    label="提交人"
            ></el-table-column>

            <el-table-column
                    width="120px"
                    prop="urgentStatus"
                    label="紧急状态">
                <template slot-scope="scope">
                    <span v-if="scope.row.urgentStatus==0">正常</span>
                    <span v-if="scope.row.urgentStatus==1">紧急</span>
                    <span v-if="scope.row.urgentStatus==2">非常紧急</span>
                </template>
            </el-table-column>

            <el-table-column
                    width="200px"
                    prop="createTime"
                    label="创建时间">
            </el-table-column>

            <el-table-column
                    width="120px"
                    prop="isSubmit"
                    label="提交状态" >
                <template slot-scope="scope">
                    {{ scope.row.isSubmit == '0' ? '未提交' : '已提交' }}
                </template>
            </el-table-column>
            <el-table-column
                    width="120px"
                    prop="checkStatus"
                    label="审核状态" >
                <template slot-scope="scope">
                    <span v-if=" scope.row.checkStatus == '0'" style="color: red">未审核</span>
                    <span v-if=" scope.row.checkStatus == '1'" style="color: red">审核成功</span>
                    <span v-if=" scope.row.checkStatus == '2'" style="color: red">审核失败</span>
                </template>
            </el-table-column>
            <el-table-column
                    label="操作"
                    width="150"
                    align="center"
            >
                <template slot-scope="scope" >
                    <el-button
                            v-if="scope.row.isSubmit==0"
                            type="text"
                            size="small"
                            class="blueBug"
                            @click="addMaterialHandle(scope.row.id,'edit')"
                    >
                        <!--                        只有未提交才能修改-->
                        编辑
                    </el-button>
                    <el-button
                            v-if="scope.row.isSubmit==1"
                            type="text"
                            size="small"
                            class="blueBug"
                            @click="addMaterialHandle(scope.row.id,'show')"
                    >
                        <!--                        只有未提交才能修改-->
                        查看
                    </el-button>
                    <el-button
                            v-if="scope.row.isSubmit==1&&scope.row.checkStatus!=1"
                            type="text"
                            size="small"
                            class="blueBug"
                            @click="checkDialog(scope.row.id)"
                    >
                        审核
                    </el-button>
                </template>
            </el-table-column>
        </el-table>
        <el-pagination
                class="pageList"
                :page-sizes="[8,12,15]"
                :page-size="pageSize"
                layout="total, sizes, prev, pager, next, jumper"
                :total="counts"
                :current-page.sync="page"
                @size-change="handleSizeChange"
                @current-change="handleCurrentChange"
        ></el-pagination>
    </div>

    <!--      审核框-->
    <el-dialog
            :close-on-click-modal="false"
            :title="checkData.title"
            :visible.sync="checkData.dialogVisible"
            width="30%"
            :show-close="false"
    >
        <el-form
                ref="checkData"
                :model="checkData"
                :rules="rule"
                class="demo-form-inline"
                label-width="100px"
        >
            <el-form-item label="审核结果：" prop="checkStatus">
                <el-select v-model="checkData.checkStatus" clearable placeholder="请选择紧急程度">
                    <el-option label="不通过" value="2"></el-option>
                    <el-option label="通过" value="1"></el-option>
                </el-select>
            </el-form-item>
            <el-form-item label="审核意见：" prop="checkDescription">
                <el-input
                        type="textarea"
                        :rows="5"
                        v-model="checkData.checkDescription"
                        placeholder="请输入审核意见"
                />
            </el-form-item>
        </el-form>
        <span
                slot="footer"
                class="dialog-footer"
        >
        <el-button
                size="medium"
                @click="handleClose('checkData')"
        >取 消</el-button>
        <el-button
                type="primary"
                size="medium"
                @click="submitHandle('单个',checkData.id,'checkData')"
        >确 定</el-button>
      </span>
    </el-dialog>
</div>
<!-- 开发环境版本，包含了有帮助的命令行警告 -->
<script src="../../plugins/vue/vue.js"></script>
<script src="../../index0.html"></script>
<!-- 引入组件库 -->
<script src="../../plugins/element-ui/index.js"></script>
<!-- 引入axios -->
<script src="../../plugins/axios/axios.min.js"></script>
<script src="../../js/request.js"></script>
<script src="../../api/material.js"></script>
<script src="../../api/checkOut.js"></script>
<script src="../../js/validate.js"></script>
<script src="../../js/index.js"></script>
<script>
    new Vue({
        el: '#member-app',
        data() {
            return {
                allbutton:'0',//是否显示全部出库单
                checkfail:'0',
                notsubmit:'0',
                oderTime:'',
                input2: '',
                input: '',
                counts: 0,
                page: 1,
                pageSize: 8,
                tableData: [],
                id: '',
                status: '',
                checkList:[],
                checkData: {
                    'title': '审核出库单',
                    'dialogVisible': false,
                    'id':'',
                    'checkStatus':'',
                    'checkDescription': ''
                }
            }
        },
        watch:{
            oderTime (val) {
                if (val && val.length >= 2) {
                    this.beginTime = val[0]
                    this.endTime = val[1]
                } else {
                    this.beginTime = ''
                    this.endTime = ''
                }
            }
        },
        computed: {
            rule() {
                return {
                    checkStatus: {
                        required: true,
                        message: '请选择审核结果',
                        trigger: 'change',
                    },
                    checkDescription: {
                        required: true,
                        message: '请选择审核意见',
                        trigger: 'change',
                    },

                }
            },
        },
        created() {
            this.init()
        },
        mounted() {
        },

        methods: {
            async init() {
                const params = {
                    page: this.page,
                    pageSize: this.pageSize,
                    id: this.input ? this.input : undefined,
                    beginTime: this.beginTime?this.beginTime : undefined,
                    endTime: this.endTime? this.endTime: undefined,
                    checkStatus: this.allbutton==0?'未审核':undefined
                }
                await getAllOutformCheck(params).then(res => {
                    if (String(res.code) === '1') {
                        this.tableData = res.data.records || []
                        console.log(res.data.recoders)
                        this.counts = res.data.total
                        console.log(res.data.total)
                        //添加通知
                        if(this.tableData.length>0&&this.allbutton==0){
                            this.$notify({
                                title: '消息',
                                message: '当前有待审核事项',
                                type: 'warning',
                                position: 'top-left'
                            });
                        }
                    }
                }).catch(err => {
                    this.$message.error('请求出错了：' + err)
                })

            },

            handleQuery()
            {
                this.page = 1;
                this.init();
            }
            ,
            // 添加
            addMaterialHandle(id,st)
            {
             if(st==='show'){
                    window.parent.menuHandle({
                        id: '2',
                        url: '/resource/page/check/outformShow.html?type=show&resource=check&id=' + id,
                        name: '查看出库单'
                    }, true)
                }

            }
            ,
            handleSizeChange(val)
            {
                this.pageSize = val
                this.init()
            }
            ,
            handleCurrentChange(val)
            {
                this.page = val
                this.init()
            }
            ,
            //多选框 , 全部操作
            handleSelectionChange(val)
            {
                let checkArr = []
                val.forEach((n) => {
                    checkArr.push(n.id)
                })
                this.checkList = checkArr
            }
            ,
            // 批量审核
            submitHandle (type, id,formName) {

                if (type === '批量'  ) {
                    if (this.checkList.length === 0) {
                        return this.$message.error('请选择审核对象')
                    }
                }
                this.$confirm('完成审核出库单, 是否继续?', '确定审核', {
                    'confirmButtonText': '确定',
                    'cancelButtonText': '取消',
                }).then(() => {

                    if(type=='单个'){
                        //添加表单校验
                        this.$refs[formName].validate((valid) => {
                            if (valid) {
                                const params = {
                                    id: this.checkData.id,
                                    checkDescription: this.checkData.checkDescription ? this.checkData.checkDescription : undefined,
                                    checkStatus: this.checkData.checkStatus ? this.checkData.checkStatus : undefined
                                }
                                checkOutform(params).then(res => {
                                    if (res.code === 1) {
                                        this.checkData.dialogVisible = false
                                        this.resetForm(formName)
                                        this.$message.success('审核成功！')
                                        this.handleQuery()
                                    } else {
                                        this.$message.error(res.msg || '操作失败')
                                    }
                                }).catch(err => {
                                    this.$message.error('请求出错了：' + err)
                                })
                            }else { //校验
                                console.log('error submit!!');
                                return false;
                            }
                        })//校验
                    }else {
                        checkOutformMore(this.checkList.join(',')).then(res => {
                            if (res.code === 1) {
                                this.$message.success('提交成功！')
                                this.handleQuery()
                            } else {
                                this.$message.error(res.msg || '操作失败')
                            }
                        }).catch(err => {
                            this.$message.error('请求出错了：' + err)
                        })
                    }

                })

            },
            // 取消添加入库材料
            handleClose(formName) {
                this.resetForm(formName)
                this.checkData.dialogVisible = false
            },
            //重置表单
            resetForm(formName) {
                this.$refs[formName].resetFields();
            },
            // 审核意见框
            checkDialog(id) {
                this.checkData.id=id;
                this.checkData.checkStatus=''
                this.checkData.checkDescription = ''
                this.checkData.dialogVisible = true
            },
        }
    })
</script>
</body>
</html>
