<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--
    namespace:名称空间
-->

<mapper namespace="com.rblue.mapper.MaterialMapper">
    <resultMap id="materialMap" type="com.rblue.entity.Material">
        <result column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="category_id" property="categoryId"/>
        <result column="specification" property="specification"/>
        <result column="unit" property="unit"/>
        <result column="available" property="available"/>
        <result column="price" property="price"/>
        <result column="storage_demand" property="storageDemand"/>
        <result column="warehouse_id" property="warehouseId"/>
        <result column="shelf" property="shelf"/>
        <result column="status" property="status"/>
        <result column="is_submit" property="isSubmit"/>
        <result column="is_deleted" property="isDeleted"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="create_user" property="createUser"/>
        <result column="update_user" property="updateUser"/>
    </resultMap>




</mapper>