<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--
    namespace:名称空间
-->

<mapper namespace="com.rblue.mapper.MaterialDtoMapper">
    <!--子类resultMap:使用 extends + association 实现，继承父类属性字段，并拓展子类字段User-->
    <resultMap id="materialDtoMap" type="materialDto" extends="com.rblue.mapper.MaterialMapper.materialMap">
        <association property="categoryDto" resultMap="com.rblue.mapper.CategoryDtoMapper.categoryDtoMap"></association>
    </resultMap>
<!--当返回值是一个复杂对象时必须使用resultMap接收-->
    <!--    材料、分类、多表查询-->
    <select id="selectAllByNameAndCategoryName" resultMap="materialDtoMap">
        select m.id, m.name, m.category_id, m.specification, m.unit, m.available, m.price, m.storage_demand, m.create_time, m.update_time,
               m.create_user, m.update_user, m.is_deleted, m.status,m.warehouse_id,m.shelf,
            c.id 'categoryId', c.name 'categoryName', c.description 'categoryDescription', c.create_time 'categoryCreateTime', c.update_time 'categoryUpdateTime', c.create_user 'categoryCreateUser', c.update_user 'categoryUpdateUser', c.is_deleted 'categoryIsDeleted'
        from material m,category c
        <where>
            <if test="materialDto.categoryDto.categoryName!=null and materialDto.categoryDto.categoryName!=''">
                and c.name like #{materialDto.categoryDto.categoryName}
            </if>
            <if test="materialDto.status!=null and materialDto.status!=''">
                and m.status = #{materialDto.status}
            </if>
            <if test="materialDto.name!=null and materialDto.name!=''">
                and m.name like #{materialDto.name}
            </if>
            and m.is_deleted=0
            and c.is_deleted=0
            and m.category_id=c.id

        </where>
         ORDER BY m.create_time  limit #{begin},#{size};
    </select>

    <select id="selectTotalByCondition" resultType="java.lang.Integer" >
        select count(*) from material,category
        <where>
            <if test="materialDto.categoryDto.categoryName!=null and materialDto.categoryDto.categoryName!=''">
                and category.name like #{materialDto.categoryDto.categoryName}
            </if>
            <if test="materialDto.status!=null and materialDto.status!=''">
                and material.status = #{materialDto.status}
            </if>
            <if test="materialDto.name!=null and materialDto.name!=''">
                and material.name like #{materialDto.name}
            </if>
            and material.is_deleted=0
            and category.is_deleted=0
            and material.category_id=category.id
        </where>
    </select>
<!--    材料、分类、仓库多表查询-->
    <select id="selectAllByNameAndCategoryNameAndWarehouse" resultMap="materialDtoMap">
        select m.id, m.name, m.category_id, m.specification, m.unit, m.available, m.price, m.storage_demand, m.create_time, m.update_time,
        m.create_user, m.update_user, m.is_deleted, m.status,m.warehouse_id,m.shelf,
        c.id 'categoryId', c.name 'categoryName', c.description 'categoryDescription', c.create_time 'categoryCreateTime', c.update_time 'categoryUpdateTime', c.create_user 'categoryCreateUser', c.update_user 'categoryUpdateUser', c.is_deleted 'categoryIsDeleted',
        w.id 'warehouseId' ,w.name 'warehouseName',w.address 'warehouseAddress' ,w.area 'warehouseArea'
        from material m,category c,warehouse w
            <where>
                <if test="materialDto.categoryDto.categoryName!=null and materialDto.categoryDto.categoryName!=''">
                    and c.name like #{materialDto.categoryDto.categoryName}
                </if>
                <if test="materialDto.status!=null and materialDto.status!=''">
                    and m.status = #{materialDto.status}
                </if>
                <if test="materialDto.name!=null and materialDto.name!=''">
                    and m.name like #{materialDto.name}
                </if>
                <if test="materialDto.warehouseName!=null and materialDto.warehouseName!=''">
                    and w.name like #{materialDto.warehouseName}
                </if>
                and m.is_deleted=0
                and c.is_deleted=0
                and m.category_id=c.id
                and m.warehouse_id=w.id
            </where>
            ORDER BY m.create_time  limit #{begin},#{size};
    </select>
    <select id="selectTotalByConditionAndWarehouse" resultType="java.lang.Integer" >
        select count(*) from material,category,warehouse
        <where>
            <if test="materialDto.categoryDto.categoryName!=null and materialDto.categoryDto.categoryName!=''">
                and category.name like #{materialDto.categoryDto.categoryName}
            </if>
            <if test="materialDto.status!=null and materialDto.status!=''">
                and material.status = #{materialDto.status}
            </if>
            <if test="materialDto.name!=null and materialDto.name!=''">
                and material.name like #{materialDto.name}
            </if>
            <if test="materialDto.warehouseName!=null and materialDto.warehouseName!=''">
                and warehouse.name like #{materialDto.warehouseName}
            </if>
            and material.is_deleted=0
            and category.is_deleted=0
            and material.category_id=category.id
            and material.warehouse_id=warehouse.id
        </where>
    </select>

</mapper>